<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_Key</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1ZTExM2M4NTNhZmJhYzNiYmIyZDY1NTU5ZDlmYmY3NyIsInN1YiI6IjY0ZWQ0ZTNkYzYxM2NlMDBlYWFhM2U3ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.PEqD0gxwTykzZtGRT34T_Gih0mlt2qcQf6Ttv8ZPJek</string>
</dict>
</plist>
